.container {
	background-color: #eef2f6;
	max-width: 600px;
	margin: 0 auto;
	padding: 25px;

    .button {
        &.alert {
            background-color: #D65D3C;
        }
    }
}
.red {
    background-color: #d0021b;
}
.red:hover, .red:focus {
    background-color: #FF3826;
}
.align-right {
    float: right;
}
#end-game-modal button.button {
    text-transform: capitalize;
    font-size: 16px;
}

.page-title {
    font-size: 16px;
    margin: 0;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
}
.round-corners {
	border-radius: 5px;
}
.court-wrap {
    margin: 40px 0;
    text-align: center;

    .buttonwrap {
        .button {
            line-height: 20px;
            width: 120px;
            text-transform: uppercase;
        }
    }
}
.valign-parent {
	position: relative;
}
.valign {
    left: calc(50% - 60px);
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.points_sec {
    background-color: #fff;
    padding: 5px;
    &.scoretime {
    margin-top: 25px;
    font-weight: 14px;
	}
}

span{
	&.data-col {
	    width: 80px;
	    display: inline-block;
	    font-size: 13px;
	    padding-right: 0.28%;
	    text-align: center;
	    text-transform: uppercase;
	}
	
	&.see_more{
		font-size: 14px;
	}

}
.row {
    padding: 3px 0;
    &.align_center{
    	text-align: center;
    }
}
.row:nth-child(2n) {
    background-color: #eee;
}
.row.header {
    border-top: 2px solid #ccc;
    border-bottom: 1px solid #666;
}
div#end-game-modal.reveal {
    height: auto;
    min-height: 1px;
}
.heading-wrap {
    max-width: 330px;
    margin: 20px auto;
}
.heading-wrap h1 {
    color: #1c87bd;
    font-weight: bold;
    text-transform: uppercase;
}
.col-50 {
    width: 50%;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    color: #1c87bd;
}
p.bg-white {
    color: #9b9b9b;
    display: inline-block;
    margin: 0;
    padding: 10px;
    background-color: #fff;
}
.buttonwrap{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 320px;
    padding: 20px;
    a{
    	&:nth-child(odd){
    		float: left;
    	}
    	&:nth-child(even){
    		float: right;
    	}
    	&:nth-child(1),&:nth-child(2){
    		margin-bottom: 40px;
    	}
    	
    }
}
.button_end_game{
	text-align: center;
	display: block;
	margin-bottom: 30px;
	button{
		&:first-child{
			margin-right: 20px;
		}
		
	}
}
.space-top-10 {
    margin-top: 10px;
}
a {
    &.button {
        &.round-corners {
            &.space-top-10 {
                display: block;
                width: 130px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

.title-wrap {
    margin: 20px 0;
    position: relative;
    text-align: center;

    h4 {
        color: #1779ba;
        text-transform: uppercase;
        font-weight: 600;
    }
    span.cancel-action {
        bottom: 0;
        color: #1779ba;
        line-height: 35px;
        position: absolute;
        right: 0;
        top: 0;
    }
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.2);
}
.points_sec {
    overflow: scroll;
    .row {
        width: 1200px;
    }
}
.points_sec {
    &.scoretime {
        .row {
            width: auto;
        }
        .data-col {
            width: 14%;
        }
        span {
            &.play-by-play-col{
                width: 75%;
            }
            &.actions{
                width: 11%;
                text-transform: capitalize;
                cursor: pointer;
                i{
                    margin-right: 2px;
                    font-size: 12px;
                }
            }
        }
    }
}
